<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbrite.patrol.app">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/patrol"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/route"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mbrite.patrol.app.action.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/patrol"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".AssetsActivity"
            android:label="@string/asset"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PointsActivity"
            android:label="@string/check_point"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ScanOnlyPointActivity"
            android:label="@string/check_point"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/notification"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
