<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbrite.patrol.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/patrol"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mbrite.patrol.app.MainActivity"
            android:label="@string/route"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.mbrite.patrol.app.action.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.LoginActivity"
            android:label="@string/patrol"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.SettingsActivity"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.AssetsActivity"
            android:label="@string/asset"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.BarcodeActivity"
            android:label="@string/barcode"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.ScanBarcodeActivity"
            android:label="@string/scan_barcode"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.InputBarcodeActivity"
            android:label="@string/manual_input"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.mbrite.patrol.app.PointsActivity"
            android:label="@string/check_point"
            android:theme="@android:style/Theme.Light" >
        </activity>
    </application>

</manifest>
